# LEAP VARS (AI service)
# Get API key - https://docs.tryleap.ai/authentication
LEAP_API_KEY=le_4eb81c6d_RgStStGn5qNBVUCMueplD8Jh
## Generate a random secret
LEAP_WEBHOOK_SECRET=your-webhook-secret
# Get Leap Workflow ID - https://docs.workflows.tryleap.ai/reference/Workflow%20Runs/run_workflow
LEAP_WORKFLOW_ID=wkf_oOQQZ4cviFBnOb

# With vercel deploy supabase env vars are auto generated!
# Configure auth magic link & redirect urls > https://github.com/leap-ai/headshots-starter#5-magic-link-auth-supabase
# Locally get Supabase details from your project settings > API - https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://pcydnalzvyczrmrcxkao.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjeWRuYWx6dnljenJtcmN4a2FvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDgwNDM5MjYsImV4cCI6MjAyMzYxOTkyNn0.rBENWw-1AALH6g7tXQV9UKXftWaFxKYWxHJbdFBMTmk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjeWRuYWx6dnljenJtcmN4a2FvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwODA0MzkyNiwiZXhwIjoyMDIzNjE5OTI2fQ.fBfF66_Ibu4wmmRNiGNZ6F3L6AfGBLfKKGwFe_Q8J34

# VERCEL BLOB VARS (Image storage service)
BLOB_READ_WRITE_TOKEN=your-blob-read-write-token

# RESEND VARS (Email service)
RESEND_API_KEY=re_V9jyVV1F_Cq5U5nkHBaMT7vwJVfqUHy22

# STRIPE VARS (Payment service)
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=whsec_ZeAoyqEG6IKJE25oj0GR4dDSThrLDFcV
STRIPE_PRICE_ID_ONE_CREDIT=price_1OkGDeGKJO6noGmd0KNESKHC
STRIPE_PRICE_ID_THREE_CREDITS=price_1OkGDeGKJO6noGmd0KNESKHC
STRIPE_PRICE_ID_FIVE_CREDITS=price_1OkGJUGKJO6noGmdjsfRBcgY
NEXT_PUBLIC_STRIPE_IS_ENABLED=false # set to true to enable Stripe payments

# DEPLOYMENT
DEPLOYMENT_PROVIDER=vercel # or replit
VERCEL_URL=https://headshothub.vercel.app/ # eg. headshots-starter.vercel.app to catch webhooks from Leap. Use ngrok locally (example: 0aaf-204-11-230-50.ngrok-free.app)